#Dados de acesso do banco
DB_HOST=localhost
DB_USUARIO=root
DB_SENHA=
DB_BANCO=gestao_qualidade

#Dados da geração do token (JWT)
SECRET_KEY=
# HS256, RS256, ES256, ...
ALGORITHM=
TOKEN_EXPIRATION_HOURS=